body {
    background-color: #E4E9F7;
}

section {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px; 
}

h2 {
    display: flex;
    justify-content: center;
}

.card {
    background-color: white;
    width: 450px;
    height: 250px;
    border-radius: 12px;
    box-shadow: -12px 12px 8px rgba(0, 0, 0, 0.20);
}

.card__container {
    padding: 15px 30px 15px 30px;
}

.card__profile-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.card__profile-wrapper img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}

.card__profile-wrapper h2 {
    font-size: 25px;
}

ul {
    padding: 0;
    margin: 0px 0 0 15px;
}

li {
    list-style: none;
    font-size: 20px;
    line-height: 35px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.card__button {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
}

.profile__btn {
    background: #ff2500;
    color: #fff;
    font-size: 20px;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding: 0;
}



.profile__logout-position {
    width: auto;
    height: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: end;

    & a {
        padding: .5rem 1rem;
        border-radius: 1.5rem;
        background-color: var(--sidebar-color);
        color: var(--text-color);
    }
}

@media screen and (min-width: 1474px) {
    .profile__logout-position {
        margin-top: 7rem;
    }
}
