body {
    background-color: #E4E9F7;
}

section {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px; 
}

h2 {
    display: flex;
    justify-content: center;
}

.card {
    background-color: white;
    width: 450px;
    height: 250px;
    border-radius: 12px;
    box-shadow: -12px 12px 8px rgba(0, 0, 0, 0.20);
}

.card-2 {
    background-color: var(--accent-colorDark);
    width: 450px;
    height: 250px;
    border-radius: 12px;
}

.card__container {
    padding: 15px 30px 15px 30px;
}

.card__profile-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.card__profile-wrapper img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}

.card__profile-wrapper h2 {
    font-size: 25px;
}

ul {
    padding: 0;
    margin: 0px 0 0 15px;
}

li {
    list-style: none;
    font-size: 20px;
    line-height: 35px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.card__button {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
}

.profile__btn {
    background: var(--color-deepSkyBlue);
    color: #fff;
    font-size: 20px;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__btn:hover {
    background-color: var(--color-seaGreen);
}

.profile__logout {
    padding: .5rem 1rem;
    border-radius: 1.5rem;
    background-color: var(--color-deepSkyBlue);
    color: var(--sidebar-color);
    position: relative;
    bottom: calc(1% + 1rem);
    left: calc(87% - 4rem);
    transition: 0.1s;
}

.profile__logout:hover {
    background-color: var(--color-seaGreen);
}